/* src/components/Info.css */

.info-container {
  width: 100vw;
  display: flex;
  flex-direction: column; /* Imposta in colonna per più righe */
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(
    to top,
    white 20%,
    rgba(241, 194, 107, 0.8) 100%,
    rgb(241, 194, 107) 100%
  );
}

.logo {
  width: 180px;
  border: 2px solid rgba(241, 194, 107, 0.8);
  margin-top: -30px;
}

.info-row {
  display: flex; /* Layout affiancato per ogni riga */
  width: 100%;
  max-width: 1200px;
  margin-bottom: 0px; /* Spazio tra le righe */
  align-items: center;
}

hr {
  width: 80%;
  border: 0.5px solid #ccc;
  margin: 20px 0;
}

.info-image {
  flex: 1;
  max-width: 40vw;
  padding: 20px;
}

.info-image img {
  width: 310px;
  height: auto;
  border: 1px solid black;
  border-radius: 8px;
}

.info-text {
  flex: 2;
  padding: 20px;
  color: black;
  font-size: 1.2rem;
  text-align: justify;
  max-width: 850px !important;
  margin-left: -70px;
}

@media only screen and (max-width: 768px) {
  .info-image {
    display: none;
  }

  .info-text p {
    margin-left: 20%;
    width: 79% !important;
  }
}
