
node_modules/

src/client/easyocr/
src/client/models/
src/client/output/
src/client/defects/
src/server/backend/src/data/
src/server/backend/src/images/


# Exclude .DS_Store files in all directories
**/.DS_Store
