# Ignore all files in specific directories
src/client/*
src/client/models/*
src/client/output/*
src/client/tmp/*
src/client/easyocr/models/*
src/server/backend/src/data/
src/server/backend/src/images/
node_modules/

# Exclude .DS_Store files in all directories
**/.DS_Store
