.popupPredictive {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 65vw;
  height: 90%;
  max-height: 800px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.phrase-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  flex-grow: 1;
  width: 96%;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.phrase-text-prediction {
  font-size: 1.6em;
  background-color: #ddd;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -30px;
  transition: opacity 1.5s ease-in-out;
  border-radius: 8px;
  width: 95%;
  padding: 10px;
}

.phrase-image {
  margin-top: 20px;
  max-width: 90%;
  transition: opacity 1.5s ease-in-out;
  margin-bottom: 30px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Media query per schermi medi (tablet) */
@media only screen and (max-width: 768px) {
  .popup {
    width: 95%;
    height: 85%;
    padding: 15px;
  }

  .phrase-text {
    font-size: 1.2em;
    max-width: 90%; /* Riduce la larghezza massima del testo */
  }

  .video-container {
    margin-top: 20px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}

/* Media query per schermi piccoli (smartphone) */
@media only screen and (max-width: 480px) {
  .popupPredictive {
    width: 95%;
    height: 70%;
  }

  .popup {
    width: 95%;
    height: 90%;
    padding: 10px;
  }

  .phrase-text {
    font-size: 1em;
    max-width: 100%; /* Massimizza l’uso dello spazio */
  }

  .phrase-image {
    min-width: 98%;
  }

  .close-button {
    font-size: 20px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .phrase-text-prediction {
    font-size: 1em;
    margin-top: 20px;
  }

  .phrase-container {
    padding: 10px;
  }
}
