.custom-vision-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 870px;
  max-height: 770px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.phrase-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  flex-grow: 1;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.phrase-textCustom {
  font-size: 1.2em;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  transition: opacity 1.5s ease-in-out;
  background-color: #ddd;
  border-radius: 12px;
  width: 95%;
  padding: 20px;
}

.phrase-image-custom-vision {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  transition: opacity 1.5s ease-in-out;
  margin-bottom: 30px;
  padding: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: auto;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.dots-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 20px;
  width: 400px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #d3d3d3;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: black;
}

.dot:hover {
  background-color: #a9a9a9;
}

/* Media query per schermi medi (tablet) */
@media only screen and (max-width: 768px) {
  .popup {
    width: 95%;
    height: 85%;
    padding: 15px;
  }

  .phrase-text {
    font-size: 1.2em;
    max-width: 90%; /* Riduce la larghezza massima del testo */
  }

  .phrase-image {
    max-width: 100%;
    width: 50px;
  }

  .video-container {
    margin-top: 20px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}

/* Media query per schermi piccoli (smartphone) */
@media only screen and (max-width: 480px) {
  .popup {
    width: 95%;
    height: auto;
    max-height: 80%;
    padding: 10px;
  }

  .phrase-textCustom {
    margin: 10px 0;
    font-size: 0.9em;
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .phrase-image {
    max-width: 100%;
  }

  .phrase-textCustom {
    font-size: 0.8em;
    margin-top: 10px;
  }
}
