.footer {
  padding: 20px;
  text-align: center;
  width: 100%; /* Assicura che il footer occupi tutta la larghezza */
  position: relative; /* Cambia in fixed se vuoi che resti sempre visibile */
  bottom: 0; /* Posiziona il footer in fondo alla pagina */
}
