.home-container {
  padding: 50px;
  text-align: center;
}

.header {
  margin-bottom: 40px;
}

.header h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header p {
  color: rgb(241, 194, 107);
  font-size: 2.7rem;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.features {
  display: flex;
  flex-wrap: wrap; /* Permette alle card di andare a capo */
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /* Maggiore spazio tra le card */
  margin-top: 100px;
}

.feature-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px; /* Larghezza flessibile e minima di 300px */
  max-width: 570px;
  position: relative;
  overflow: hidden; /* Nasconde eventuali parti che fuoriescono */
  transition: transform 0.3s ease; /* Transizione per il zoom */
}

.image-container {
  position: relative;
  border-radius: 10px; /* Rende gli angoli dell'immagine arrotondati */
  overflow: hidden; /* Nasconde le parti dell'immagine che fuoriescono */
}

.feature-image {
  width: 100%; /* Rende l'immagine larga quanto il contenitore */
  height: 450px; /* Altezza fissa per l'immagine */
  object-fit: cover; /* Copre l'area senza distorcere l'immagine */
  transition: transform 0.3s ease; /* Transizione per il zoom */
}

.feature-item:hover .feature-image {
  transform: scale(1.1); /* Zoom dell'immagine al passaggio del mouse */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: left; /* Allinea il testo a sinistra */
}

.overlay h3 {
  margin: 0;
  color: #dc3545;
  font-size: 1.7rem;
}

.overlay p {
  margin: 0;
  color: #333;
  font-size: 1rem;
}

/* Media Queries per la Responsività */
@media (max-width: 768px) {
  .features {
    flex-direction: column; /* Dispone le card in colonna su schermi più piccoli */
    align-items: center; /* Centra le card */
  }

  .feature-item {
    max-width: 90%; /* Imposta una larghezza massima più piccola */
  }
}
